{% extends "main.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <table>
        <tr>
            
            <th>Project</th>
            <th>Votes</th>
            <th>Positive Votes</th>
            <th></th>
        </tr>
        {% for x in work %}
            <tr>
                
                <td>{{x.title}}</td>
                <td>{{x.vote_total}}</td>
                <td>{{x.vote_ratio}}</td>
                <td>{{x.created}}</td>
                <td><a href="{% url 'second' x.id%}">view</a></td>
            </tr>
        {% endfor %}
    </table>
    {% endblock %}
</body>
</html>